# .env.example (à commiter sur Git)

# Base de données
DATABASE_URL="sqlite:///./sql_app.db"
SQL_ALCHEMY_DATABASE_URL="sqlite:///./sql_app.db"

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000", "*"]

# Sécurité (À configurer en production ou via les secrets d'environnement)
# SECRET_KEY="une-chaine-longue-et-aleatoire"